<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <!-- Debug Servlet -->
    <servlet>
        <servlet-name>DebugServlet</servlet-name>
        <servlet-class>com.demo.web.controller.DebugServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/debug</url-pattern>
    </servlet-mapping>


    <!-- Logic servlets -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.demo.web.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>  <!-- or /process-login if you want different URL -->
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.demo.web.controller.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logoutservlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>com.demo.web.controller.signupservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signupservlet</url-pattern>  <!-- or /process-login if you want different URL -->
    </servlet-mapping>


    <servlet>
        <servlet-name>googlecallback</servlet-name>
        <servlet-class>com.demo.web.controller.GoogleCallback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>googlecallback</servlet-name>
        <url-pattern>/googlecallback</url-pattern>  <!-- or /process-login if you want different URL -->
    </servlet-mapping>


    <servlet>
        <servlet-name>googlelogin</servlet-name>
        <servlet-class>com.demo.web.controller.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>googlelogin</servlet-name>
        <url-pattern>/googlelogin</url-pattern>  <!-- or /process-login if you want different URL -->
    </servlet-mapping>

    <!-- Add Autograph Servlet -->
    <servlet>
        <servlet-name>AddAutographServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Autographs.AddAutographServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAutographServlet</servlet-name>
        <url-pattern>/addautographservlet</url-pattern> <!-- This matches the form action in addautograph.jsp -->
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateMemoryServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Memory.CreateMemoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateMemoryServlet</servlet-name>
        <url-pattern>/createMemoryServlet</url-pattern>  <!-- Hidden internal URL -->
    </servlet-mapping>

    <servlet>
        <servlet-name>MemoriesListServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Memory.MemoriesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemoriesListServlet</servlet-name>
        <url-pattern>/memoriesview</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MemoryViewServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Memory.MemoryViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemoryViewServlet</servlet-name>
        <url-pattern>/memoryViewServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditMemoryServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Memory.EditMemoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditMemoryServlet</servlet-name>
        <url-pattern>/editMemoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateMemoryServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Memory.UpdateMemoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMemoryServlet</servlet-name>
        <url-pattern>/updateMemoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteMemoryServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Memory.DeleteMemoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteMemoryServlet</servlet-name>
        <url-pattern>/deleteMemoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewMediaServlet</servlet-name>
        <servlet-class>com.demo.web.controller.ViewMediaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewMediaServlet</servlet-name>
        <url-pattern>/viewmedia</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteAutographServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Autographs.DeleteAutographServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAutographServlet</servlet-name>
        <url-pattern>/deleteautograph</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveEventServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Events.CreateEventServlet</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>        <!-- 10MB -->
            <max-request-size>52428800</max-request-size>   <!-- 50MB -->
            <file-size-threshold>2097152</file-size-threshold> <!-- 2MB -->
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>SaveEventServlet</servlet-name>
        <url-pattern>/saveEvent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteEventServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Events.DeleteEventServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteEventServlet</servlet-name>
        <url-pattern>/deleteEvent</url-pattern>
    </servlet-mapping>
    <!-- Add these three servlets -->
    <servlet>
        <servlet-name>CreateJournalServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Journals.CreateJournalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateJournalServlet</servlet-name>
        <url-pattern>/createjournal</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteJournalServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Journals.DeleteJournalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteJournalServlet</servlet-name>
        <url-pattern>/deletejournal</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditJournalServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Journals.EditJournalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditJournalServlet</servlet-name>
        <url-pattern>/editjournal</url-pattern> <!-- This handles the POST submission -->
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>UpdateJournalServlet</servlet-name>-->
<!--        <servlet-class>com.demo.web.controller.UpdateJournalServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>UpdateJournalServlet</servlet-name>-->
<!--        <url-pattern>/updatejournal</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>DeleteJournalServlet</servlet-name>-->
<!--        <servlet-class>com.demo.web.controller.DeleteJournalServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>DeleteJournalServlet</servlet-name>-->
<!--        <url-pattern>/deletejournal</url-pattern>-->
<!--    </servlet-mapping>-->

    <!-- Servlet for updating autographs -->
    <servlet>
        <servlet-name>UpdateAutographServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Autographs.UpdateAutographServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAutographServlet</servlet-name>
        <url-pattern>/updateautograph</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>creategroup</servlet-name>
        <servlet-class>com.demo.web.controller.Groups.CreateGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>creategroup</servlet-name>
        <url-pattern>/creategroupservlet</url-pattern>  <!-- or /process-login if you want different URL -->
    </servlet-mapping>



    <servlet>
        <servlet-name>deletegroupservlet</servlet-name>
        <servlet-class>com.demo.web.controller.Groups.DeleteGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletegroupservlet</servlet-name>
        <url-pattern>/deletegroupservlet</url-pattern>  <!-- or /process-login if you want different URL -->
    </servlet-mapping>


    <servlet>
        <servlet-name>editgroupservlet</servlet-name>
        <servlet-class>com.demo.web.controller.Groups.EditGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editgroupservlet</servlet-name>
        <url-pattern>/editgroupservlet</url-pattern>  <!-- or /process-login if you want different URL -->
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateEventServlet</servlet-name>
        <servlet-class>com.demo.web.controller.Events.UpdateEventServlet</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>52428800</max-request-size>
            <file-size-threshold>2097152</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateEventServlet</servlet-name>
        <url-pattern>/updateEvent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editprofileservlet</servlet-name>
        <servlet-class>com.demo.web.controller.editprofileservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editprofileservlet</servlet-name>
        <url-pattern>/editprofileservlet</url-pattern>  <!-- or /process-login if you want different URL -->
    </servlet-mapping>

    <servlet>
        <servlet-name>LinkedDevicesServlet</servlet-name>
        <servlet-class>com.demo.web.controller.LinkedDevicesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LinkedDevicesServlet</servlet-name>
        <url-pattern>/linkeddevicesservlet</url-pattern>
    </servlet-mapping>

    <!-- Authentication Filter -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.demo.web.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- View Controllers (Refactored from FrontController) -->
    
    <!-- Settings View Controllers -->
    <servlet>
        <servlet-name>LinkedDevicesViewController</servlet-name>
        <servlet-class>com.demo.web.controller.Settings.LinkedDevicesViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LinkedDevicesViewController</servlet-name>
        <url-pattern>/linkeddevicesview</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditProfileViewController</servlet-name>
        <servlet-class>com.demo.web.controller.Settings.EditProfileViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileViewController</servlet-name>
        <url-pattern>/editprofileview</url-pattern>
    </servlet-mapping>

    <!-- Autograph View Controller -->
    <servlet>
        <servlet-name>AutographViewController</servlet-name>
        <servlet-class>com.demo.web.controller.Autographs.AutographViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutographViewController</servlet-name>
        <url-pattern>/autographsview</url-pattern>
    </servlet-mapping>

    <!-- Group View Controller -->
    <servlet>
        <servlet-name>GroupViewController</servlet-name>
        <servlet-class>com.demo.web.controller.Groups.GroupViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupViewController</servlet-name>
        <url-pattern>/groupsview</url-pattern>
    </servlet-mapping>

    <!-- Event View Controller -->
    <servlet>
        <servlet-name>EventViewController</servlet-name>
        <servlet-class>com.demo.web.controller.Events.EventViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventViewController</servlet-name>
        <url-pattern>/eventsview</url-pattern>
    </servlet-mapping>

    <!-- Journal View Controller -->
    <servlet>
        <servlet-name>JournalViewController</servlet-name>
        <servlet-class>com.demo.web.controller.Journals.JournalViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JournalViewController</servlet-name>
        <url-pattern>/journalsview</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>com.demo.web.middleware.FrontControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!-- Static Resources Mapping -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.svg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.woff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.woff2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ttf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.mp4</url-pattern>
    </servlet-mapping>

    <!-- Database Connection Context Parameters -->
    <context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:postgresql://localhost:5432/your_database_name</param-value>
    </context-param>
    <context-param>
        <param-name>db.username</param-name>
        <param-value>your_username</param-value>
    </context-param>
    <context-param>
        <param-name>db.password</param-name>
        <param-value>your_password</param-value>
    </context-param>

    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>